//https://kuler.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=0&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.7,0.32613912814180546,0.19091518901599414,1,0.6478052526893568,0.5204178616685892,1,0.5743674160476464,0.4204178616685892,0.15429250316801246,0.7,0.5900459350808953,0.4204178616685892,1,0.883220566999713&swatchOrder=0,1,2,3,4
$red: #B25331;
$lred: #FFA585;
$orange: #FF926B;
$dteal: #27B296;
$teal: #6BFFE1;

$gray: #949494;
$lgray: #EEEEEE;
$mgray: #bdbdbd;
$bordergray: #DADADA;
$midgray: #c2c;
$black: #595959;
$white: #fff;
$background: #e8e8e8;