@import 'compass/utilities/general/float';
@import 'compass/utilities/general/clearfix';

.layout-left {
    width: 250px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    @include clearfix;
}

.layout-main {
    position: absolute;
    float: left;
    margin-left: 250px;
    @include clearfix;
}

.layout {
    color: white;
}

body {
    background-color: #000;
}