@import 'compass/utilities/general/float';
@import 'compass/utilities/general/clearfix';
@import 'mixins/_layout.scss';

.layout-left {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  @include clearfix;
  @include height;
  background: #000;
}

.layout-main {
  position: fixed;
  float: left;
  width: 100%;
  margin-left: 250px;
  @include clearfix;
  @include height;
}

.layout {
  color: white;
  @include height;
}

.layout-posts-current-post {
  height: 100%;
}

.layout-current-post {
  @include clearfix;
}

.layout-posts {
  float: left;
  border-right: 1px solid #313131;
  height: 100%;
  @include clearfix;
  -webkit-animation: bounce_titles 0.5s ease-in 0s 1 alternate;
  -moz-animation: bounce_titles 0.5s ease-in-out 0s 1 alternate;
  -o-animation: bounce_titles 0.5s ease-in-out 0s 1 alternate;
  animation: bounce_titles 0.5s ease-in-out 0s 1 alternate;
}

@-webkit-keyframes bounce_titles { from { margin-left:-100%; } to { margin-left:0; }  }
@-moz-keyframes bounce_titles { from { margin-top:-50%; } to { margin-top:0; }  }
@-o-keyframes bounce_titles { from { margin-top:-50%; } to { margin-top:0; }  }
@keyframes bounce_titles { from { margin-top:-50%; } to { margin-top:0; }  }

.layout-navigation {
  padding-bottom: 9px;
}

.layout-spotify {
  padding-top: 9px;
}

.layout-main {
  background: #000;
}

body {
  background-color: #000;
}