<div class="page-about">
</div>
lives and  works in new york, new york
<p>Technologies:</p>
<ul>
<li>node</li>
<li>html</li>
<li>scss/css</li>
<li>javascript</li>
<li>backbone</li>
<li>backbone marionette</li>
</ul>

<p>Tools</p>
<ul>
<li>phpstorm</li>
<li>yeoman</li>
<li>bower</li>
<li>grunt</li>
<li>bash/cli</li>
</ul>