<div class="post-content">{{{html}}}</div>
<span class="post-meta">
    <p class="post-created">{{created}} | <em>Follow me on <a href="https://twitter.com/arlandu">twitter</em></a></p>
</span>
<br/>
<br/>
<br/>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'arlandov2',
        disqus_title = '{{title}}',
        disqus_identifier = '{{_id}}'; // required: replace example with your forum shortname
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>