<div class="post-content">{{{html}}}</div>
<span class="post-meta">
    <p><span class="post-created">{{created}}</span> | <span class="post-follow"><em>Follow me on <a href="https://twitter.com/arlandu">twitter</em></a></p>
</span>
<br/>
<br/>
<br/>