<div class="post-content">{{{html}}}</div>
<span class="post-meta">
    <p class="post-created">{{created}} | <em>Follow me on <a href="https://twitter.com/arlandu">twitter</em></a></p>
</span>
<br/>
<br/>
<br/>