<input type="email" class="form-control edit-post-title" placeholder="title" name="title" value="{{title}}"><br>
<input type="email" class="form-control edit-post-callout" placeholder="callout" name="callout" value="{{callout}}"><br>
<textarea type="email" class="form-control edit-post-markdown" placeholder="email" name="markdown">{{markdown}}</textarea><br>
<button class="edit-post-save">save edits</button><br/>
<button class="edit-post-delete">delete</button><br/>