<div class="insert-post">
    <form class="insert-post-form">
        <div>
            <input class="insert-post-title" type="text" value="Title" name="title"/>
        </div>
        <div>
            <input class="insert-post-callout" type="text" value="Callout" name="callout"/>
        </div>
        <div>
            <textarea class="insert-post-markdown" value="MarkDown" name="markdown"></textarea>
        </div>
         <br>
         <br>
         <br>
        <button class="insert-post-save" type="submit">Submit Post</button>
    </form>
</div>