<div class="login-form>
    <form class="login-form">
        <div>
            <input class="login-form-user" type="text" value="Username" name="username"/>
        </div>
        <div>
            <input class="login-form-pass" type="text" value="Password" name="password"/>
        </div>
        <button class="submit-login" type="submit">Login</button>
    </form>
</div>