<h3 class="post-title">{{title}}</h3>
<span class="post-meta">
    <p class="post-created">{{meta.created}}</p>
    <p class="post-likes">{{meta.likes}}</p>
</span>
<div class="post-content">{{{content}}}</div>
