@import 'compass/typography/lists/bullets';
@import 'compass/typography/links/link-colors';
@import '../colors.scss';

$bradius: 5px;

.navigation {
  @include no-bullets;
  padding: 0;
  margin: 18px;
  border: 1px $bordergray solid;
  border-radius: $bradius;
  background: $white;
}

.navigation-link {
  font-weight: 400;
  margin: 0 0 0 0;
  padding-left: 15px;
  @include link-colors($black, $black, $black);
}

.navigation-link:nth-child(even) {
  background: $lgray;
}

//TODO Research SCSS hover states mixin
.navigation-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.active-nav {
  font-weight: 800;
  background: $gray !important;
  color: $white;
}

//round corners on last-child
.active-nav:last-child {
  border-radius: 0 0 $bradius $bradius;
}

.active-nav:first-child {
  border-radius: $bradius $bradius 0 0;
}