@import 'compass/typography/lists/bullets';

.posts-titles {
  @include no-bullets;
  padding: 0;
  margin: 0;
  height: 100%;
  background: rgba(32, 32, 32, 0.35);
  -webkit-animation: bounce_titles .75s ease-in 0s 1 alternate;
  -moz-animation: bounce_titles 0.5s ease-in-out 0s 1 alternate;
  -o-animation: bounce_titles 0.5s ease-in-out 0s 1 alternate;
  animation: bounce_titles 0.5s ease-in-out 0s 1 alternate;
}

@-webkit-keyframes bounce_titles { from { margin-left:-50%; } to { margin-left:0; }  }
@-moz-keyframes bounce_titles { from { margin-top:-50%; } to { margin-top:0; }  }
@-o-keyframes bounce_titles { from { margin-top:-50%; } to { margin-top:0; }  }
@keyframes bounce_titles { from { margin-top:-50%; } to { margin-top:0; }  }

li.post-title {
  font-weight: 800;
  text-transform: uppercase;
  padding: 4px;
  border-bottom: 1px solid #313131;
  transition: all .10s ease-in;
}

.post-meta {
}

.post-created {
  float: left;
  color: #FFF;
  width: 100%;
  font-weight: 600;
  font-size: 32px;
  font-family: 'Josefin Sans';
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #313131;
  background-image: url('/images/mainbg2.gif');
  box-shadow: inset 0 0 75px #000000;
}

.post-likes {
  float: right;
}

.post-content {
  padding: 20px 0 0 35px;
}

li.post-title:hover, .active-post {
  text-shadow: 0 1px 5px #000;
  -webkit-transform: translateX(2px);
  transform: translateX(2px);
  -moz-box-shadow: inset 0 0 100px #000000;
  -webkit-box-shadow: inset 0 0 100px #000000;
  box-shadow: inset 0 0 75px #000000;
}