@import 'compass/typography/lists/bullets';
@import 'compass/typography/links/link-colors';

.spotify-tracks {
  color: #6D6D6D;
}

.spotify-tracks-list {
  @include no-bullets;
  padding: 0;
  margin: 0;
}

.spotify-track {
  width: 100%;
  transition: all 0.20s ease-in;
  font-weight: 400;
  margin: 0 0 2px 0;
  padding-left: 25px;
}

.spotify-track:hover {
  cursor: pointer;
  text-shadow: 0 0 1px #FFF;
  text-decoration: none;
}

.currently-playing {
  color: #FFF;
  background: #0F99E7;
  font-weight: 600;
}

.currently-playing:after {
  content: '\266B';
}

.spotify-player {
  position: absolute;
  background-image: url('/images/mainbg4.gif');
  -webkit-box-shadow: 0px -2px 19px 0px rgba(0,0,0,0.92);
  -moz-box-shadow: 0px -2px 19px 0px rgba(0,0,0,0.92);
  box-shadow: 0px -2px 19px 0px rgba(0,0,0,0.92);
  bottom: -5px;
}